<div class="modal fade"
     id="roleModal"
     tabindex="-1"
     aria-labelledby="roleModalLabel"
     aria-hidden="true"
     data-controller="modal"
     data-modal-frame-id-value="modal">
  <div class="modal-dialog modal-dialog-centered" id="modalDialog">
    <div class="modal-content">
      <%= turbo_frame_tag "modal", data: { action: "turbo:frame-load->modal#show" } %>
    </div>
  </div>
</div>
