<div class="card shadow-sm mb-4">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-sm mb-0">
        <tbody>
          <tr class="table-secondary">
            <td><strong>Overall Deduction (RM)</strong></td>
            <td class="text-end"><strong><%= number_to_currency(pay_calculation_detail.employee_deductions, unit: 'RM ', separator: '.', delimiter: ',', precision: 2) %></strong></td>
          </tr>
          <tr class="table-secondary">
            <td><strong>Total Net Salary (RM)</strong></td>
            <td class="text-end"><strong><%= number_to_currency(pay_calculation_detail.gross_salary - pay_calculation_detail.employee_deductions, unit: 'RM ', separator: '.', delimiter: ',', precision: 2) %></strong></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
