<div class="modal fade" id="workOrderRateModal" tabindex="-1" aria-labelledby="workOrderRateModalLabel" aria-hidden="true" data-bs-backdrop="static" data-controller="modal" data-modal-frame-id-value="modal">
  <div class="modal-dialog modal-lg">
    <%= turbo_frame_tag "modal", data: { turbo_action: "advance", action: "turbo:frame-load->modal#show" } do %>
    <% end %>
  </div>
</div>
