<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Edit Work Order Rate</h1>
      <%= render "form", work_order_rate: @work_order_rate %>
      <%= link_to "Back", master_data_work_order_rates_path, class: "btn btn-secondary mt-3" %>
    </div>
  </div>
</div>
