<% work_order_policy = record_policy(work_order, WorkOrders::DetailPolicy) %>
<div class="d-flex justify-content-end gap-2 mb-3">
  <% if work_order_policy.edit? %>
    <%= link_to edit_work_orders_detail_path(work_order), class: "btn btn-warning fw-bold fs-6" do %>
      <i class="bi bi-pencil me-1 text-dark"></i> Edit
    <% end %>
  <% end %>
  <% if work_order_policy.destroy? %>
    <%= link_to confirm_delete_work_orders_detail_path(work_order), class: "btn btn-danger fw-bold fs-6", data: { turbo_frame: "modal" } do %>
      <i class="bi bi-trash me-1 text-white"></i> Delete
    <% end %>
  <% end %>
  <% if work_order_policy.mark_complete? %>
    <%= link_to mark_complete_work_orders_detail_path(work_order), method: :patch, data: { turbo_method: :patch }, class: "btn btn-primary fw-bold fs-6" do %>
      <i class="bi bi-check-circle me-1 text-white"></i> Work Order Complete
    <% end %>
  <% end %>
</div>
