<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Edit Work Order</h1>
      <%= render "form", work_order: @work_order %>
      <%= link_to "Back", work_order_details_path, class: "btn btn-secondary mt-3" %>
    </div>
  </div>
</div>
