<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Edit Vehicle</h1>
      <%= render "form", vehicle: @vehicle %>
      <%= link_to "Back", master_data_vehicles_path, class: "btn btn-secondary mt-3" %>
    </div>
  </div>
</div>
