<div class="dashboard">
  <h1>BI Dashboard</h1>

  <div class="powerbi-dashboard">
  <iframe title="Intent Harvest Dashboard"
          width="100%"
          height="600"
          src="https://app.powerbi.com/view?r=eyJrIjoiZDI5MGNlNTYtODFmYy00NGNjLWIxNDMtM2EzOWQxODdjMjRlIiwidCI6IjNiNmFjMTJhLTgwMDAtNGYwZS1iYmMyLWYwNzhiNTY0NGFlNiIsImMiOjEwfQ%3D%3D"
          frameborder="0"
          allowFullScreen="true">
  </iframe>
</div>
</div>
