<div class="dashboard">
  <h1>BI Dashboard</h1>

  <div class="powerbi-dashboard">
  <iframe width="100%" height="600" marginbottom="50" 
          src="https://app.powerbi.com/view?r=eyJrIjoiZmMyNjQzNTAtY2E1Mi00MGNkLWJkNTgtMmU3OWE2NTk0NDU1IiwidCI6IjNiNmFjMTJhLTgwMDAtNGYwZS1iYmMyLWYwNzhiNTY0NGFlNiIsImMiOjEwfQ%3D%3D" 
          frameborder="0" 
          allowFullScreen="true">
  </iframe>
</div>

  
</div>