<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Edit Pay Calculation</h1>
      <%= render "form", pay_calculation: @pay_calculation %>
      <%= link_to "Back", work_order_pay_calculations_path, class: "btn btn-secondary mt-3" %>
    </div>
  </div>
</div>
