<!-- Modal container kept on the page; content is loaded via Turbo Frame -->
<div class="modal fade"
     id="workerModal"
     tabindex="-1"
     aria-labelledby="workerModalLabel"
     aria-hidden="true"
     data-controller="worker-modal"
     data-action="turbo:frame-load->worker-modal#show turbo:submit-end->worker-modal#formSubmitted hidden.bs.modal->worker-modal#clearFrame"
     data-bs-backdrop="static"
     data-bs-keyboard="false">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <%= turbo_frame_tag "modal", data: { action: "turbo:frame-load->worker-modal#show" } do %>
        <!-- Form content will be injected here -->
      <% end %>
    </div>
  </div>
</div>
