@import "bootstrap";
@import "dashboard";
@import "inventories";
@import "login";
@import "dashboard";
@import "workers";
@import "sidebar";
@import "user_accounts";

* {
  font-family: "Nunito", sans-serif;
  color: #000000;
}
