#mandays{
    .mandays_page{
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    }

    .mandays_page h1 {
    background-color: #155e1a;
    color: #ffffff;
    padding: 20px;
    font-size: 20px;
    border-radius: 10px;
    font-weight: 900;
    margin-bottom: 30px;
    }

    .add-button {
    background-color: #155e1a;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    float: right;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 16px;
    color: #ffffff;
    border: 0;
    }

    .add-button:hover {
    background-color: #1f7a2e;
    text-decoration: none;
    color: #ffffff;
    }

    #mandays_rows tr td,
    #mandays_rows tr th {
        text-align: center;      /* Horizontal center */
        vertical-align: middle;  /* Vertical center */
        padding: 12px 8px;       /* Adjust spacing */
    }

    .card-body{
        margin-top: -10px;
        padding: 2px;
    }


    .table thead.header-row th a {
    color: #ffffff !important;
    text-decoration: none !important;
    }

    .header-row th {
    padding: 15px 10px;
    text-decoration: none;
    color: #ffffff !important;
    }

    .table thead tr.header-row th {
        background-color: #155e1a;
        color: #ffffff;
    }

    th .filter-buttons {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .btn.reset-btn {
    background-color: #0d6efd;
    color: #ffffff;
    width: 90%;
    }

        .action-btn {
    background: none;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    }

    .action-btn i {
    font-size: 18px;
    }

    /* Icon Colors */
    .action-btn.info i {
    color: #0d6efd;   /* Blue */
    }

    .action-btn.warning i {
    color: #ffc107;   /* Yellow */
    }

    .action-btn.danger i {
    color: #dc3545;   /* Red */
    }

    /* Hover Effect */
    .action-btn:hover {
    background-color: rgba(0,0,0,0.05);
    }
}
