.payslip-page {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
}

.payslip-page h1 {
  background-color: #155e1a;
  color: #ffffff;
  padding: 20px;
  font-size: 20px;
  border-radius: 10px;
  font-weight: 900;
  margin-bottom: 30px;
}

.payslip-page h4 {
  color: #000000;
  font-size: 20px;
  font-weight: 800;
}