name: CI

on:
  pull_request:
    branches:
      - develop
      - main

jobs:
  ci:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: password
        ports:
          - "5432:5432"
        options: >-
          --health-cmd="pg_isready -U postgres"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    env:
      RAILS_ENV: test
      DATABASE_USERNAME: postgres
      DATABASE_PASSWORD: password
      DATABASE_HOST: localhost
      DATABASE_PORT: 5432
      DATABASE_TEST_NAME: st_intent_harvest_test

    steps:
      - uses: actions/checkout@v4

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.4.7"
          bundler-cache: true

      - name: Prepare test DB
        run: bundle exec rails db:create db:schema:load

      - name: Run Rubocop (fail only on error)
        run: bundle exec rubocop --fail-level error

      - name: Run Brakeman
        run: bundle exec brakeman -q --no-progress

      - name: Precompile assets
        run: bundle exec rails assets:precompile

      - name: Run Tests
        run: bundle exec rails test
